<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-md-6">
                <div class="text-center">
                    <h1 class="display-3">Delete Post</h1>
                </div>
                <hr />

                <form method="post" action="/admin/confirmdelete?id={{{id}}}">

                    <div class="form-group row">
                        <label class="col-form-label" for="title">Title</label>
                        <input required name="Title" type="text" class="form-control" id="title" placeholder="Title" value="{{{title}}}" disabled/>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label" for="content">Content</label>
                        <textarea required name="Content" id="content" class="form-control" placeholder="Content" rows="15" disabled>{{{content}}}</textarea>
                    </div>

                    <input type="submit" class="btn btn-danger btn-lg btn-block" value="Delete" />

                </form>
                <br />
            </div>
        </div>
    </div>
</main>